@import 'libs/normalize';
@import 'reset';

$main-color: #4bbf6b;

html {
    height: 100%;

    body {
        height: 100%;
    }
}

button {
  background-color: $main-color;
  color: #fff;
  border-radius: 20px;
  padding: .5rem;
  text-align: center;
}

table {
  border: 2px solid #333;
  margin: 0 auto;
}

header {
  background-color: $main-color;

  h1 {
    font-size: 2rem;
    color: #fff;
  }

  p {
    margin-top: .5rem;
    color: #fff;
  }
}

.welcome {
  p {
    margin: .75rem 0;
  }
}
