<!DOCTYPE html>
<html ng-app="yoruba">
  <head>
    <meta charset="utf-8">
    <title>HackZurich 2016 - Yoruba</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width">
    <meta name="theme-color" content="#4bbf6b">

    <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="./css/app.css" />

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/ng-map.min.js"></script>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBVsvUEsVhpCVoneLzoPRwnv_FL05W2raM"></script>
  </head>
  <body ng-controller='AppCtrl'>
    <ng-map center="[47.389850, 8.515632]" zoom="19" style="width:100%;height:100%;" mapTypeControl="false">
        <marker ng-repeat="client in clients" ng-if="client.visible"
                position="[{{client.location.lat}}, {{client.location.lng}}]"
                icon="/images/{{date < client.seenTime ? 'dot.png' : 'dot_off.png'}} ">
        </marker>
    </ng-map>
    <aside class="card">
      <div class="table-wrapper">
        <table class="top-table">
          <tr>
            <th colspan="3">Persons In HackZurich 2016</th>
          </tr>
          <tr>
            <th width="40">
              <input type="checkbox" ng-model="showAll" name="showAll" checked>
              <label for="showAll"></label>
            </th>
            <th class="text-left">MAC Address</th>
            <th>Visible</th>
          </tr>
        </table>
        <div class="table-overflow">
          <table>
            <tr ng-repeat="client in clients">
              <td width="40">
                <input type="checkbox" ng-model="client.show">
                <label></label>
              </td>
              <td class="text-left">{{ client.clientMac }}</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox" ng-model="client.visible">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </aside>
    <div class="filters">
      <h2>filters</h2>
      <ul>
        <li>
          <div class="switch">
            <label>
              Hide Safe
              <input type="checkbox" ng-model="hideSafe" value="false">
              <span class="lever"></span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
